body {
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 10%;
    background-color: #d7f3f8;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.resume-content {
    width: 100%;
    margin-left: 14%;
    /*background-color: rgb(233, 211, 237);*/
    background-image: url('../images/cvbg.jpg');
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    color: #333;
}

.sidebar a:hover {
    background-color: #ddd;
}

.resume-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-item {
    margin-bottom: 20px;
}

.resume-date {
    font-style: italic;
}

.language-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    /* 将按钮容器放置在右边 */
    margin-right: 20px;
    /* 添加一些右边距，使按钮离页面边缘有一定距离 */
}

/* 新增按钮样式 */
.language-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #76b6e0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.language-button:hover {
    background-color: #511f98;
}

.accordion {
    background-color: #a3dce6;
    color: #3308ef;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    text-decoration: underline;
  }
  .active, .accordion:hover {
    background-color: #a3dce6;
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: #c4ebe9;
    overflow: hidden;
  }